﻿@charset "utf-8";
/* CSS Document */
#wrapper {max-width:1240px; width:100%; padding:0px 15px; margin:0 auto}
.midContainer {width:100%; float:left; padding:40px 0;}
.homebg {background:#111010 url(../Images/homebg.png) no-repeat top center; background-size:Cover; min-height:200px;}

/*Inner Header Start*/
.header { max-width:1240px; width:100%; padding:0px 15px; margin:0 auto}
.headerHolder { width:100%; float:left;}
/*Inner Header End*/

/*Inner Header Start*/
.Innerheader { background: rgba(0, 0, 0, 0) url("/Images/InnerHeaderBG.jpg") repeat scroll left top; float: left; min-height: 100px; width: 100%;}
.inner-Holder { margin: 0 auto; max-width: 1240px; min-width: 320px; padding: 0 15px; width: 100%; }
.Innerheader .Innerlogo {line-height:100px;}
.Innerheader .user-controls {float: right; line-height:90px;}
.Innerheader .user-controls .Help {display:inline}
.Innerheader .user-controls .userProfileImg { display:inline; margin:0px 10px;}
.Innerheader .user-controls .userProfileImg .profileImage{width:65px; height:65px; border-radius:50%; border:3px solid #fff; }
.Innerheader .user-controls .speaker { display:inline; margin:0px 10px;}
.Innerheader .user-controls .notification { display:inline; margin:0px 25px 0 10px;}
.Innerheader .user-controls .signoutLink { display:inline;}
.Innerheader .user-controls .signoutLink a { background: rgba(0, 0, 0, 0) url("../Images/LogoutIcon.png") no-repeat scroll right center; color: #f8f8f8;  font-family: latolight; font-size: 20px; font-weight: bold; padding-right: 30px; }
/*Inner Header End*/

/*Footer Navbar Start*/
.footer { position: absolute; bottom: 0; width: 100%; height: 50px; line-height: 50px; background: transparent; text-align: center; text-transform: uppercase; }
.footer a { color: #9a9898; font-size: 12px; margin: 0 30px; }
.footer a:hover { color: #027CB7; font-size: 12px; margin: 0 30px; }
/*Footer Navbar End*/

/*Home Page Navbar Start*/
.homeNavbar .navbar-default { background-color: transparent; border: none; }
.homeNavbar .navbar { margin-bottom: 0px; min-height: 50px; position: relative; }
.homeNavbar .navbar-default .navbar-nav > li > a { color: #dedee0; text-transform: uppercase; }
.homeNavbar .navbar-default .navbar-nav > li > a span { background: #369ac4; height: 3px; width: 100%; float: left; border-radius: 10px; margin-top: 4px; display: none; }
.homeNavbar .navbar-default .navbar-nav > .active > a span, .homeNavbar .navbar-default .navbar-nav > li > a:hover span, .homeNavbar .navbar-default .navbar-nav > a:focus span { display: block; }
.homeNavbar .navbar-default .navbar-nav > .active > a, .homeNavbar .navbar-default .navbar-nav > .active > a:hover, .homeNavbar .navbar-default .navbar-nav > .active > a:focus { background-color: transparent; color: #dedee0; }
.homeNavbar .navbar-default .navbar-nav > form > li > a { color: #dedee0; display: block; float: left; padding: 15px; position: relative; text-transform: uppercase; }
.homeNavbar .navbar-default .navbar-nav > form > li > a span { background: #369ac4; height: 3px; width: 100%; float: left; border-radius: 10px; margin-top: 4px; display: none; }
.homeNavbar .navbar-default .navbar-nav >  form > .active > a span, .homeNavbar .navbar-default .navbar-nav > form > li > a:hover span, .homeNavbar .navbar-default .navbar-nav > form > a:focus span { display: block; }
.homeNavbar .navbar-default .navbar-nav >  form > .active > a, .homeNavbar .navbar-default .navbar-nav > form > .active > a:hover, .homeNavbar .navbar-default .navbar-nav > form > .active > a:focus { background-color: transparent; color: #dedee0; }
/*Home Page Navbar End*/

.modal-modified{box-shadow:0 0 10px rgba(0, 0, 0, 0.4); background:#fff; border:1px solid #939393; padding:20px;}

/*Register Modal Start*/

.uploadedBasicCropImage {width:100%; max-width:500px; margin:0 auto; position:relative;}
.uploadedBasicCropImage .close{position:absolute; right:20px; top:20px;}
.uploadedBasicCropImage h2{color:#d5403d; width:100%; margin-bottom:20px; margin-top:0px; font-size:28px; line-height:28px; float:left; padding-bottom:15px; font-weight:normal; font-family:MyriadProLight; border-bottom:1px solid #990505}
.uploadedBasicCropImage span{color:#000; font-size:16px; float:left; font-family:MyriadProRegular;}
/*Register Modal End*/

/*RegisterModal Form*/
.RegisterModal .registerForm { }
.RegisterModal .registerForm h1{color:#8492af; font-size:26px; text-transform:uppercase; font-family:latolight;}
.RegisterModal .registerForm input{color:#8492af; font-size:16px; font-family:latosemibold; border:none; border-bottom:solid 1px #f6f7fa;}
.RegisterModal .registerForm .userField span { background:url(../Images/UsernameIcon.png) no-repeat center center; height:15px; width:15px;}
/*RegisterModal Form*/

/*Login Section Start*/
.loginSection { max-width: 640px; width: 100%; margin: 45px auto; background: #F2F4F7; -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65); -moz-box-shadow: 0 0 10px rgba(0,0,0, .65); box-shadow: 0 0 10px rgba(0,0,0, .65); }
.loginSection .loginHeading { background: rgba(0, 0, 0, 0) url("../Images/LoginSectionHeaderBG.png") no-repeat scroll center top / cover; border: medium none; min-height: 120px; }
.loginSection #loginForm {padding:15px; width:100%; border:none;  }
.loginSection #loginForm h1{color:#8492af; font-size:26px; text-transform:uppercase; font-family:latolight; margin:0px;}
.loginSection #loginForm .loginbox { max-width:315px; margin:0 auto; width:100%; margin-top:35px;}
.loginSection #loginForm .loginbox .usernameField input{background:url(../Images/UsernameIcon.png) no-repeat left center; color:#8492af; font-size:16px; text-align:left; font-family:latosemibold; border:none; border-bottom:solid 1px #ccc; padding:5px 5px 5px 30px; margin-bottom:10px;}
.loginSection #loginForm .loginbox .passwordField input{background:url(../Images/PasswordIcon.png) no-repeat left center; color:#8492af; font-size:16px; text-align:left; font-family:latosemibold; border:none; border-bottom:solid 1px #ccc; padding:5px 5px 5px 30px; margin-bottom:10px;}
.loginSection #loginForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button { float: left; margin-right: 5px; margin-top:3px; width: auto; }
.loginSection #loginForm label { margin:0px;}
.loginSection #loginForm .btn { background:#258dbf url(../Images/loginBtnArrow.png) no-repeat 180px center; float:none; margin:45px 0px 20px 0px; border:none; max-width:205px; width:100%; height:38px; border-radius:30px; font-size:18px; font-family:latolight; color:#fff; text-align:center;}
/*Login Section Start*/

/*Login Section Start*/
.RegisterSection { max-width: 640px; width: 100%; margin: 45px auto; background: #fff; -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65); -moz-box-shadow: 0 0 10px rgba(0,0,0, .65); box-shadow: 0 0 10px rgba(0,0,0, .65); }
.RegisterSection .RegisterHeading { background: rgba(0, 0, 0, 0) url("../Images/RegisterSectionHeaderBG.png") no-repeat scroll center top / cover; border: medium none; min-height: 120px; float:left; width:100%; line-height:0; }
.RegisterSection .RegisterHeading h1{color:#8492af; font-size:30px; color:#61a4ca; text-transform:uppercase; font-family:latolight;}
.RegisterSection .RegisterHeading span{color:#8492af; font-size:15px; color:#61a4ca; text-transform:uppercase; font-family:latolight; margin:0px;}
.RegisterSection #RegisterForm {padding:15px; width:100%; border:none;  }
.RegisterSection #RegisterForm .Registerbox { max-width:340px; margin:0 auto; width:100%; margin-top:35px;}
.RegisterSection #RegisterForm .Registerbox .form-control{ background:transparent; color:#8492af; font-size:18px; text-align:left; font-family:latolight; border:none; outline:none; box-shadow:none; border-bottom:solid 2px #ccc; padding:5px 0px 5px 0px; margin-bottom:10px;}
.form-control {border: 2px solid #ccc!important;height:36px!important;}
/*.RegisterSection #RegisterForm .Registerbox  input{background:url(../Images/PasswordIcon.png) no-repeat left center; color:#8492af; font-size:16px; text-align:left; font-family:latosemibold; border:none; border-bottom:solid 1px #ccc; padding:5px 5px 5px 30px; margin-bottom:10px;}*/
.RegisterSection #RegisterForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button { float: left; margin-right: 5px; margin-top:3px; width: auto; }
.RegisterSection #RegisterForm label { margin:0px; font-family:latolight; color:#258dbf; font-size:18px;}
.RegisterSection #RegisterForm .btn { background:#258dbf; float:none; margin:10px 0px 20px 0px; border:none; text-transform:uppercase; max-width:205px; width:100%; height:38px; border-radius:30px; font-size:18px; font-family:latolight; color:#fff; text-align:center;}
/*Login Section Start*/


/*Forgot Password Section Start*/
.forgotpasswrdSection { max-width: 640px; width: 100%; margin: 45px auto; background: #fff; -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.2); -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.2); box-shadow: 0 0 10px rgba(0,0,0, 0.2); }
.forgotpasswrdSection .heading { background: rgba(0, 0, 0, 0) url("../Images/RegisterSectionHeaderBG.png") no-repeat scroll center top; border: medium none; height: 120px;width:100%; float:left; }
.forgotpasswrdSection .heading h1{color:#61a4ca; font-size:30px; text-transform:uppercase; font-family:latoRegular; margin:0px; line-height:100px;}
.forgotpasswrdSection .forgotPasswordForm {padding:15px; width:100%; border:none; float:left; }
.forgotpasswrdSection .forgotPasswordForm .msg{width:80%; float:left; margin:0 10%; font-family:latothin; font-size:20px; text-align:center; color:#838080;}
.forgotpasswrdSection .forgotPasswordForm .forgotpasswordBox { max-width:350px; margin:0 auto; width:100%; margin-top:35px;}
.forgotpasswrdSection .forgotPasswordForm .forgotpasswordBox label {font-family:latoLight; color:#258dbf; font-size:18px; width:100%; float:left; margin:10px 0;}
.forgotpasswrdSection .forgotPasswordForm .forgotpasswordBox input[type="text"]{border:0; border-bottom:2px solid #eaeaea; padding:0 0 5px 0;}
.forgotpasswrdSection .forgotPasswordForm input[type="checkbox"], #loginForm input[type="submit"], #loginForm input[type="button"], #loginForm button { float: left; margin-right: 5px; margin-top:3px; width: auto; }

.forgotpasswrdSection .forgotPasswordForm .btn { background:#258dbf url(../../Images/loginBtnArrow.png) no-repeat 180px center; float:none; margin:45px 0px 20px 0px; border:none; max-width:205px; width:100%; height:38px; border-radius:30px; font-size:18px; font-family:latolight; color:#fff; text-align:center;}
/*Login Section Start*/


/*Forgot Password Section Start*/
.resetpasswrdSection { max-width: 640px; width: 100%; margin: 45px auto; background: #F2F4F7; -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65); -moz-box-shadow: 0 0 10px rgba(0,0,0, .65); box-shadow: 0 0 10px rgba(0,0,0, .65); }
.resetpasswrdSection .heading { background: rgba(0, 0, 0, 0) url("../../Images/RegisterModalHeaderBG.png") no-repeat scroll center top / cover; border: medium none; min-height: 120px; }
.resetpasswrdSection .resetPasswordForm {padding:15px; width:100%; border:none;  }
.resetpasswrdSection .resetPasswordForm h1{color:#8492af; font-size:26px; text-transform:uppercase; font-family:latolight; margin:0px;}
.resetpasswrdSection .resetPasswordForm .resetpasswordBox { max-width:315px; margin:0 auto; width:100%; margin-top:35px;}
.resetpasswrdSection .resetPasswordForm .resetpasswordBox .usernameField input{background:url(../../Images/UsernameIcon.png) no-repeat left center; color:#8492af; font-size:16px; text-align:left; font-family:latosemibold; border:none; border-bottom:solid 1px #ccc; padding:5px 5px 5px 30px; margin-bottom:10px;}
.resetpasswrdSection .resetPasswordForm .resetpasswordBox .password input{background:url(../../Images/PasswordIcon.png) no-repeat left center;color:#8492af; font-size:16px; text-align:left; font-family:latosemibold; border:none; border-bottom:solid 1px #ccc; padding:5px 5px 5px 30px; margin-bottom:10px;}
.resetpasswrdSection .resetPasswordForm label { margin:0px;}
.resetpasswrdSection .resetPasswordForm .btn { background:#258dbf url(../../Images/loginBtnArrow.png) no-repeat 180px center; float:none; margin:45px 0px 20px 0px; border:none; max-width:205px; width:100%; height:38px; border-radius:30px; font-size:18px; font-family:latolight; color:#fff; text-align:center;}
/*Login Section Start*/

.blueBtn { background:#258dbf !important; float:none; border:none !important; margin:10px 0px 20px 0px; border:none; text-transform:uppercase; width:100%; border-radius:30px; font-size:14px; font-family:latolight; color:#fff; text-align:center; padding:5px 30px !important;}

/*Company Admin Dashboard Start*/
.CompanyAdminDashboard { width: 100%; float:left;}
.CompanyAdminDashboard .dashboardContainer { margin: 40px auto; width: 80%; }
.CompanyAdminDashboard h1 { border-bottom: 3px solid #e9e8e8; color: #878585; margin:0 0 50px 0; font-family: latolight; font-size: 25px; font-weight: bold; padding-bottom: 10px; text-transform: uppercase; }
.CompanyAdminDashboard h1 a.back {font-size:18px; cursor:pointer; color:#7e7e7e; font-family:latoregular; font-weight:normal; text-transform:capitalize; }
.CompanyAdminDashboard h1 a.back i {font-size:16px; color:#3da4d1; margin-right:3px; }
.CompanyAdminDashboard .dashboardContainer a { min-height:285px; height:auto; max-width:225px; box-shadow:0px 0px 15px #ddd; width:100%; background:#fff; float:left; margin-bottom:40px; border-radius:10px; position:relative; text-align:center;}
.CompanyAdminDashboard .dashboardContainer a .linkImageBox { line-height: 187px;}
.CompanyAdminDashboard .dashboardContainer a .linkImageBox img {vertical-align: middle; display: inline-block; }
.CompanyAdminDashboard .dashboardContainer a .linkTextBox { background: #3e3d3d none repeat scroll 0 0; border-radius: 0 0 10px 10px; bottom: 0; left: 0; line-height: 98px; position: absolute; width: 100%; padding:5px; }
.CompanyAdminDashboard .dashboardContainer a .linkTextBox > span { color: #d3d2d2; display: inline-block; font-family: latoregular; font-size: 18px; letter-spacing: 1px; line-height: 25px; text-transform: uppercase; vertical-align: middle; word-wrap: break-word; }

.searchBox{width:100%; float:left; border:1px solid #dedbda; border-radius:20px; height:34px; background:#fff;}
.searchBox .searchField{width:78%; font-size:13px; border:0px; padding:0 10px 0 40px; background:url(../images/InputSearchIcon.png) no-repeat 15px center; float:left; height:32px; line-height:32px;}
.searchBox .searchBtn{width:22%; border:0px; padding:0px; background:#3da4d1; font-size:18px; font-family:latoregular; color:#fff; float:left; height:34px; margin-right:-1px; margin-top:-1px; line-height:34px; border-radius:0 20px 20px 0;}
.searchBox .searchFieldNoIco{width:100%; font-size:14px; border:0px; padding:0 10px 0 10px; float:left; height:32px; line-height:32px; background:none;}
/*Company Admin Dashboard Start*/

/*Dealership Details Start*/
.DealershipDetails { width: 100%; margin: 0 auto;}
.DealershipDetails .DealershipContainer { margin: 40px auto; width: 100%; } 
/*Dealership Details Start*/

/*Pages Main Heading Start*/
.pageHeading h1 { border-bottom: 3px solid #e9e8e8; color: #878585; font-family: latolight; font-size: 25px; font-weight: bold; padding-bottom: 10px; text-transform: uppercase; }
.pageHeading a.backLink { background: rgba(0, 0, 0, 0) url("../Images/BackArrowIcon.png") no-repeat scroll left center; color: #7e7e7e; float: right; font-family: latoregular; font-size: 18px; font-weight: normal; margin-top: 8px; padding-left: 27px; text-transform: none; }
/*Pages Main Heading Start*/

/*Responsive Table Starts*/
.responsiveTable {width:100%; float:left; overflow-x:auto; margin-top:40px;}
.responsiveTable table { border: 2px solid #ebeaea; border-collapse: separate; border-radius: 20px; color: #808080; font-size: 16px; overflow-x: auto; width: 100%; margin:0px }
.responsiveTable table th {background:#cbcbcb; border-left:2px solid #ebeaea; text-align:left; padding:15px 10px; font-size:16px; color:#666666; font-family:latolight;}
.responsiveTable table th:first-child {border-left: none; border-radius:10px 0px 0px 0px;}
.responsiveTable table th:last-child {border-right: none; border-radius:0px 10px 0px 0px; }
.responsiveTable table tr:last-child {border-right: none; border-radius:0px 10px 0px 0px; }
.responsiveTable table tr:last-child td:first-child {border-left: none; border-radius:0 0 0 10px;}
.responsiveTable table tr:last-child td:last-child {border-right: none; border-radius:0 0 10px 0;}
.responsiveTable table td {border-left:2px solid #ebeaea; padding:15px 10px; color:#7e7e7e; font-family:latoregular; font-size:15px; text-align:left;}
.responsiveTable table td:first-child {border-left:none; }
.responsiveTable table td:last-child {border-right:none; }
.responsiveTable table tr.noWrap-text th{white-space:nowrap;}
.responsiveTable table tr td.noBreak-text{white-space:nowrap;}
.responsiveTable table tr:nth-child(even) td { background: #FAFBFB; }
.responsiveTable table tr:nth-child(odd) td { background: #fff; }
.responsiveTable table .actionView { background: #f5f7f8 url("../Images/ViewIcon.png") no-repeat scroll 5px center; cursor:pointer; border: 1px solid #dde8ed; border-radius: 20px; color: #b0b6b9; padding: 0 17px 0 30px; }
.responsiveTable table .actionView:hover { background: #f1f3f3 url("../Images/ViewIcon.png") no-repeat scroll 5px center; }
.responsiveTable table .actionEdit { background: #f5f7f8 url("../Images/EditIcon.png") no-repeat scroll 8px center; cursor:pointer; border: 1px solid #dde8ed; border-radius: 20px; color: #b0b6b9; padding: 0 17px 0 30px; margin-left:10px; }
.responsiveTable table .actionEdit:hover { background: #f1f3f3 url("../Images/EditIcon.png") no-repeat scroll 8px center; }
.responsiveTable table .actionDelete { background: #f5f7f8 url("../Images/deleteIco.png") no-repeat scroll 8px center; cursor:pointer; border: 1px solid #dde8ed; border-radius: 20px; color: #b0b6b9; padding: 0 17px 0 30px; margin-left:10px; }
.responsiveTable table .actionDelete:hover { background: #f1f3f3 url("../Images/deleteIco.png") no-repeat scroll 8px center; }
.responsiveTable table .actionCopy { background: #f5f7f8 url("../Images/copyIco.png") no-repeat scroll 10px center; cursor:pointer; border: 1px solid #dde8ed; border-radius: 20px; color: #b0b6b9; padding: 0 17px 0 30px; margin-left:10px; }
.responsiveTable table .actionCopy:hover { background: #f1f3f3 url("../Images/copyIco.png") no-repeat scroll 10px center; }
.responsiveTable table .actionAdd{ background: #f5f7f8 url("../Images/addIcon.png") no-repeat scroll 8px center; cursor:pointer; border: 1px solid #dde8ed; border-radius: 20px; color: #b0b6b9; padding: 0 17px 0 30px; margin-left:10px; }
.responsiveTable table .actionAdd:hover { background: #f1f3f3 url("../Images/addIcon.png") no-repeat scroll 8px center; }
/*Responsive Table Ends*/

/*Table Paging Starts*/
.pagination-box .pagerMessage{width:100%; float:left; text-align:center; margin-bottom:5px;}
.pagination-box .pagination > li{display:inline-block;}
.paging {margin:20px 0; text-align:center; display:inline-block; }
.paging li{display:inline; list-style:none; float:left; }
.paging li a{color:#f79999;height:24px; min-width:24px; line-height:26px; text-align:center; float:left; font-size:16px;}
.paging li:first-child a, .paging li:last-child a{font-size:18px;}
.paging li.active{background:#f4cb3d;}
.paging li.active a{color:#c11212;}
/*Table Paging Ends*/

/*Bootstarp Modal Vertically align Center*/
.modal {text-align: center; padding: 0!important;}
.modal:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -4px;}
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
/*Bootstarp Modal Vertically align Center*/

.deactivate{background:#f5f7f8 url(../images/deactive_ico.png) no-repeat 15px center !important; padding-left:35px !important;}
.activate{background:#f5f7f8 url(../images/activate_ico.png) no-repeat 15px center !important; padding-left:35px !important;}
.editico {background:#f5f7f8 url(../images/EditIcon.png) no-repeat 7px center !important; padding-left:35px !important;}
.addtico {background:#f5f7f8 url(../images/addIcon.png) no-repeat 15px center !important; padding-left:35px !important;}
.viewico {background:#f5f7f8 url(../images/ViewIcon.png) no-repeat 7px center !important; padding-left:35px !important;}
.deleteico {background:#f5f7f8 url(../images/deleteIco.png) no-repeat 15px center !important; padding-left:35px !important;}
.viewsecurityico {background:#f5f7f8 url(../images/viewSecurity_ico.png) no-repeat 15px center !important; padding-left:35px !important;}
.viewdealico {background:#f5f7f8 url(../images/ViewIcon.png) no-repeat 7px center !important; padding-left:35px !important; white-space:nowrap}

.userDetail-section{width:100%; float:left;}
.userDetail-section .left-side{width:24%; float:left; margin:0 3%}
.userDetail-section .left-side .profile-photo{width:100%; float:left; text-align:center;}
.userDetail-section .left-side .profile-photo img{width:155px; height:155px; border:2px solid #b5d0dd; border-radius:50%; display:inline-block;}
.userDetail-section .left-side .price-box{width:100%; float:left; text-align:center; margin:20px 0; font-size:18px;}
.userDetail-section .left-side .price-box .title{width:100%; color:#747a7d; float:left; text-align:center; font-family:latolight;} 
.userDetail-section .left-side .price-box .result{width:100%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:center;} 
.userDetail-section .left-side .bor-bottom{border-bottom:2px solid #c6c6c8}
.userDetail-section .sectionDivider{width:100%; float:left; height:1px; background:#e6e6e6; margin:20px 0;}
.userDetail-section .classes{width:100%; float:left;}
.userDetail-section .classes span{margin:0 15px;}
.userDetail-section .classes .green{color:green;}
.userDetail-section .rewards span{margin:0 10px;}

.userDetail-section .right-side{width:70%; float:left;}
.userDetail-section .right-side ul{float:left; width:100%; padding:0px; margin:0px;}
.userDetail-section .right-side li{float:left; width:100%; margin-bottom:15px; list-style:none; font-size:18px;}
.userDetail-section .right-side li .title{width:35%; margin-right:5%; color:#747a7d; float:left; text-align:right; font-family:latomedium;} 
.userDetail-section .right-side li .result{width:60%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:left;} 

.addUserBox{width:100%; background:#fff; box-shadow:0 0 25px rgba(0, 0, 0, 0.1); border-radius:10px; padding:40px 15%;}
.whiteBoxContainer{width:100%; background:#fff; box-shadow:0 0 25px rgba(0, 0, 0, 0.1); border-radius:10px; padding:40px 12%;}
.creditCardBox{width:100%; background:#fff; box-shadow:0 0 25px rgba(0, 0, 0, 0.1); border-radius:10px; padding:40px 7%;}
.field-box{width:100%; float:left; margin-bottom:25px;}
.field-box label{width:100%; float:left; font-size:18px; font-family:latolight; color:#258dbf; margin-bottom:5px;}
.field-box input[type="text"], .field-box input[type="email"], .field-box input[type="password"]{border:0px; background:none; border-bottom:2px solid #eaeaea; box-shadow:none; height:24px; margin-top:6px; line-height:24px; font-size:18px; padding:0px;}

.field-box .dateInput{border:0; border-bottom:2px solid #c6c6c8;height:34px !important; cursor:pointer; line-height:34px !important; background:url(../Images/calenderBlue_ico.png) no-repeat 95% 4px !important; width:100%; float:left;}
.field-box .ui-datepicker-trigger{display:none;}
/*.field-box.usd input[type="text"]{background:url(../images/usd_bg.png) no-repeat 95% 2px  !important;}*/

.field-box.percentage input[type="text"]{background:url(../images/percentage_bg.png) no-repeat 95% 2px  !important;}
.field-box textarea{background:none;}
.field-box .RadioButton{width:100%; float:left; margin-top:10px;}
.field-box .RadioButton button.btn-default{background:url(../images/radioBtnBg.png) no-repeat top left; padding-left:35px; float:left; font-size:18px; color:#767777; border:0px;}
.field-box .RadioButton button.btn-success{background:url(../images/radioBtnSelectBg.png) no-repeat top left; }
.field-box .select2-container{width:100% !important;}
.field-box .checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::before{background:none; top:4px;}
.field-box .checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after,
.field-box .checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {font-family: "FontAwesome"; content: "\f00c"; top:4px;}
.field-box textarea{width:100%; border:2px solid #eaeaea; border-radius:3px;}
.creditCardBox .field-box input {border: 2px solid #ccc!important;height:36px!important;}
.creditCardBox .field-box select {border: 2px solid #ccc!important;height:36px!important;}

.newBrodcast textarea.form-control{height:120px;}
.newBrodcast .notes{font-family:latoLight; color:#a9acad; font-size:13px; margin-top:2px;}
.newBrodcast .field-box input[type="text"], .newBrodcast .field-box input[type="email"]{height:30px; margin-top:6px; line-height:30px; font-size:18px; padding:0px;}
.newBrodcast .field-box .checkbox input[type="checkbox"]:checked + input[type="hidden"] + label::after,
.newBrodcast .field-box .checkbox input[type="radio"]:checked + input[type="hidden"] + label::after {font-family: "FontAwesome"; content: "\f00c"; top:4px;}
.newBrodcast .field-box .checkbox label::before{top:4px; background:none;}
.newBrodcast .field-box .checkbox label{color:#7e7e7e;}
.newBrodcast .field-box .RadioButton button.btn-default{color:#b0b1b1; font-family:latoLight}

.billing-section{width:100%; float:left; padding-bottom:10px; border-bottom:2px solid #c8e3ef; margin-bottom:20px;}
.billing-section .left-side ul{float:left; width:100%; padding:0px; margin:0px;}
.billing-section .left-side li{float:left; width:100%; margin-bottom:15px; list-style:none; font-size:18px;}
.billing-section .left-side li .title{width:35%; margin-right:5%; color:#747a7d; float:left; text-align:right; font-family:latomedium;} 
.billing-section .left-side li .result{width:60%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:left;} 
.billing-section .left-side li .result .dateInput{border:0; border-bottom:2px solid #c6c6c8;height:34px; cursor:pointer; line-height:34px; background:url(../Images/calenderBlue_ico.png) no-repeat 95% 4px; width:100%; float:left;}
.billing-section .left-side li .result .ui-datepicker-trigger{display:none;}

.billing-Search-section{width:100%; float:left; padding-bottom:10px; margin-bottom:20px;}
.billing-Search-section .left-side ul{float:left; width:100%; padding:0px; margin:0px;}
.billing-Search-section .left-side li{float:left; width:100%; margin-bottom:15px; list-style:none; font-size:18px;}
.billing-Search-section .left-side li .title{width:35%; margin-right:5%; color:#747a7d; float:left; text-align:right; font-family:latomedium;} 
.billing-Search-section .left-side li .result{width:60%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:left;} 
.billing-Search-section .left-side li .result .dateInput{border:0; border-bottom:2px solid #c6c6c8;height:34px; cursor:pointer; line-height:34px; background:url(../Images/calenderBlue_ico.png) no-repeat 95% 4px; width:100%; float:left;}
.billing-Search-section .left-side li .result .ui-datepicker-trigger{display:none;}


.detail-box ul{float:left; width:100%; padding:0px; margin:0px;}
.detail-box li{float:left; width:100%; margin-bottom:15px; list-style:none; font-size:18px;}
.detail-box li .title{width:35%; margin-right:5%; color:#747a7d; float:left; text-align:right; font-family:latomedium;} 
.detail-box li .result{width:60%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:left;} 
.detail-box li .result .dateInput{border:0; border-bottom:2px solid #c6c6c8;height:34px; line-height:34px; background:url(../Images/calenderBlue_ico.png) no-repeat 95% 4px; width:100%; float:left;}
.detail-box .left-side li .result .ui-datepicker-trigger{display:none;}

/*.companyLogoBox{width:150px; height:150px; border:1px solid #c8e3ef; background:#f4f6f6; border-radius:50%; overflow:hidden;}*/
.companyLogoBox {
    width: 150px;
    height: 150px;
    /*border: 1px solid #c8e3ef;*/
    background: #f4f6f6;
    /*border-radius: 50%;*/
    overflow: hidden;
}
.companyLogoBox img{width:100%; max-width:150px;}

.field-box-companypolicy {width:100%; float:left; margin-bottom:25px;}
.field-box-companypolicy label{width:100%; float:left; font-size:18px; font-family:latolight; color:#258dbf; margin-bottom:5px;}
.field-box-companypolicy input[type="text"], .field-box input[type="email"], .field-box input[type="password"]{border:0px; background:none; border-bottom:2px solid #eaeaea; box-shadow:none; height:24px; margin-top:6px; line-height:24px; font-size:18px; padding:0px;}

.companyDetails{width:90%; float:left; margin-left:5%; border-radius:10px; background:#fff; box-shadow:6px 0px 27px rgba(0,0,0,0.07);}
.companyDetails .nav-tabs{width:100%; float:left; height:65px; background:#f7f7f7; border:0px;}
.companyDetails .nav-tabs > li > a, .companyDetails .nav-tabs > li > a:focus, .companyDetails .nav-tabs > li > a:hover{background:none; padding:0px; height:65px; line-height:65px; text-align:center; border:0px; margin-right:0px; font-family:latosemibold; font-size:18px; color:#656768;}
.companyDetails .nav-tabs > li.active > a, .companyDetails .nav-tabs > li.active > a:focus, .companyDetails .nav-tabs > li.active > a:hover{border-bottom:4px solid #45b3e2; color:#3da4d1;}
.companyDetails .tab-content{width:100%; float:left; padding:30px 0;}

.companyDetails .tab-content .companyList ul{float:left; width:100%; padding:30px 0; margin:0px;}
.companyDetails .tab-content .companyList ul:nth-child(odd) {background:#fafbfb;}
.companyDetails .tab-content .companyList li{float:left; width:50%;  list-style:none; font-size:18px; font-family:latoregular; letter-spacing:1px;}
.companyDetails .tab-content .companyList li .title{width:40%; margin-right:2%; color:#7e7e7e; float:left; text-align:left; padding-left:60px; } 
.companyDetails .tab-content .companyList li .result{width:58%; color:#4f9cc7; float:left; text-align:left;  padding-right:15px;}

.companyDetails .tab-content .dealershipList ul{float:left; width:100%; padding:30px 0; margin:0px;}
.companyDetails .tab-content .dealershipList ul:nth-child(odd) {background:#fafbfb;}
.companyDetails .tab-content .dealershipList li{float:left; width:100%;  list-style:none; font-size:18px; font-family:latoregular; letter-spacing:1px;}
.companyDetails .tab-content .dealershipList li .title{width:25%; margin-right:5%; color:#7e7e7e; float:left; text-align:right; padding-left:60px; } 
.companyDetails .tab-content .dealershipList li .result{width:70%; color:#4f9cc7; float:left; text-align:left;  padding-right:15px;}

.addQuizBox{width:86%; background:#fff; box-shadow:0 0 25px rgba(0, 0, 0, 0.1); border-radius:10px; padding:40px 5% 40px 10%; margin:0 7%;}
.bor-right{border-right:2px solid #ececec;}

.notificationsContainer{width:80%; margin:20px auto; }
.notificationsContainer .notifications{width:100%; float:left; border:2px solid #eae9e9; border-radius:10px; padding:30px;  background:#fff;  font-family:latoregular;}
.notificationsContainer .notifications h2{font-size:22px; color:#7e7e7e; font-family:latoregular; border-bottom:2px solid #dadee7; margin:0 0 25px 0; padding-bottom:15px; width:100%; float:left;}
.notificationsContainer .notifications ul{width:95%; float:left; border-left:2px solid #dadee7; margin-left:6px;}
.notificationsContainer .notifications ul li{width:100%; float:left; background:url(../Images/notificationBullet.png) no-repeat top left; padding:0 0 30px 35px; margin-left:-12px; font-size:18px;}


.Innerheader .user-controls .notification a:hover .dashboardNotificationsContainer{ display:block;}
.dashboardNotificationsContainer{width:500px; max-width:500px; position:absolute; top:50px; right:-30px; z-index:999; display:none;}
.dashboardNotificationsContainer .notifications{width:100%; float:left; position:relative; border-bottom:24px solid #3e3d3d; box-shadow:0 0 10px #ddd; border-radius:10px; background:#fff;  font-family:latoregular;}
.dashboardNotificationsContainer .notifications:before{background:url(../Images/notificationToparrow.png) no-repeat top left; width:22px; height:16px; position:absolute; top:-16px; right:45px; z-index:999; content:"";}
.dashboardNotificationsContainer .notifications h2{font-size:22px; color:#7e7e7e; font-family:latoregular; border-bottom:2px solid #dadee7; margin:0; padding: 10px 15px; width:100%; float:left;}

.dashboardNotificationsContainer .notifications .list{width:100%; float:left; padding:15px 0; max-height:300px; margin:0px; overflow:auto;}
.dashboardNotificationsContainer .notifications .list li{width:100%; float:left; background:url(../Images/notificationBullet.png) no-repeat 15px 11px; line-height:24px; padding:10px 10px 10px 45px; width:100%; border-bottom:1px solid #dadee7; color:#7e7e7e; font-size:16px;}
.dashboardNotificationsContainer .notifications .list li a{color:#7e7e7e;}
.dashboardNotificationsContainer .notifications .list li span{width:90%; float:left;}
.dashboardNotificationsContainer .notifications .list li .dismiss{float:right; width:10px; height:10px; background:url(../Images/dismissIco.png) no-repeat top left;}

.photo-item { width: 136px; height: 137px; border: 3px dashed #ccc; padding: 1px; float: left; margin: 0 15px 20px 0; position:relative; }
.photo-item .imgPhoto { width: 100%; height: 100%; }
.photo-item .closeBtn { width: 16px; height: 16px; position: absolute; top: -5px; right: -5px; z-index: 1; }


.logo-home{width:100%; position:absolute; z-index:999; top:70px; text-align:center;}
.navbarHome{position:absolute; z-index:999; background:none; border:0px;}
.rslides{ margin:0px;}
.rslides li{width:100%; max-height:768px; min-height:768px; text-align:center;}
.rslides li h2{padding:15px 20px; background:rgba(50, 133, 216, 0.7);  text-align:center; font-size:32px; line-height:42px; display:inline-block; /*color:#e7e6e6;*/ text-transform:uppercase; color:#ffffff; font-family:latosemibold;margin:250px auto 20px;}
.rslides li h2 a{color: #ffffff;}
.rslides li h3{padding:10px 20px; background:rgba(255, 255, 255, 0.5);  text-align:center;display:inline-block;  font-size:28px; line-height:38px; color:#000; font-family:latolight; max-width:90%;}
.rslides li p{width:100%; float:left; padding:0 20px; text-align:center; font-size:18px; color:#e7e6e6; font-family:latolight; line-height:30px;}
.rslides li .learnMore {padding:10px 35px; color:#fff; margin-top:60px; font-size:16px; line-height:16px; font-family:latolight; display:inline-block; border-radius:20px; font-weight:bold; letter-spacing:2px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3487db+0,2779cc+51,1a6cbe+100 */
        background: #3487db; /* Old browsers */
        background: -moz-linear-gradient(top, #3487db 0%, #2779cc 51%, #1a6cbe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3487db 0%,#2779cc 51%,#1a6cbe 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3487db 0%,#2779cc 51%,#1a6cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3487db', endColorstr='#1a6cbe',GradientType=0 ); /* IE6-9 */
    }
.rslides li.slide1{background:url(../Images/homeslider/homeSlide1.jpg) no-repeat top left; background-size:cover;}
.rslides li.slide2{background:url(../Images/homeslider/homeSlide2.jpg) no-repeat top left; background-size:cover;}
.rslides li.slide3{background:url(../Images/homeslider/homeSlide3.jpg) no-repeat top left; background-size:cover;}

.rslides_tabs {padding: 0; font-size: 18px; position:absolute; bottom:80px; z-index:200;
  list-style: none; margin: 0 auto 50px; text-align: center; width: 100%;}
.rslides_tabs li {display: inline; float: none; margin-right: 1px;}
.rslides_tabs a {width:12px; text-indent:-5000px; padding:0; height: 12px; background: none; display: inline-block; border:2px solid #898888; border-radius:50%; margin:0 10px;}
.rslides_tabs li:first-child {margin-left: 0;}
.rslides_tabs .rslides_here a {background:#027cb7; border:2px solid #027cb7;}
#slider3-pager a {display: inline-block;}
#slider3-pager img {float: left;}
#slider3-pager .rslides_here a {background: transparent; box-shadow: 0 0 0 2px #666;}
#slider3-pager a {padding: 0;}

.scrollLogo{display:none;}
.fixed .scrollLogo{display:block;}

.topCarouselInner{width:100%; position:relative; min-height:768px; background:#282828;}
.whyactSection{width:100%; float:left; background:#fff; padding-top:60px;}
.whyactSection .left{width:100%; float:left; padding:50px 20px 20px; }
.whyactSection .left img{width:100%; max-width:587px;}
.whyactSection .right{width:100%; float:left; padding-right:0px; text-align:center;}
.whyactSection .right h2{color:#027cb7; font-size:40px; font-family:latolight; margin:15px 0 50px 0;}
.whyactSection .right p{color:#484747; font-size:18px; font-family:latolight; line-height:24px; margin-bottom:20px;}
.whyactSection .bottom-line{font-size:30px; color:#027cb7; text-transform:capitalize; font-family:latobold; width:100%; float:left; text-align:center; margin:-30px 0 50px 0; padding:0 15px;}
.whyactSection h2{color:#027cb7; font-family:latosemibold; width:100%; text-align:center;}
.videoIframe{width:100%; height:386px; max-width:800px;}

.logo-slider{width:96%; float:left; margin:50px 2% 0;  padding:10px;}
/*.logo-slider .owl-item{width:415px !important;}*/
.logo-slider .owl-item{width:242px !important;}
.logo-slider .item{padding:10px 20px; border:1px solid #ccc; box-shadow:2px 2px 5px rgb(204, 204, 204); border-radius:4px;}
.logo-slider .item img{max-width:100%;}
.logo-slider .owl-carousel .owl-stage-outer{z-index:1;}
.logo-slider .owl-nav{position:absolute; width:100%; top:50%; margin-top:-16px; z-index:0;}
.logo-slider .owl-nav .owl-prev{float:left; background:url(../Images/prev-arrow.png) no-repeat top left; text-indent:-5000px; height:32px; width:32px; margin-left:-35px;}
.logo-slider .owl-nav .owl-next{float:right; background:url(../Images/next-arrow.png) no-repeat top left; text-indent:-5000px;height:32px; width:32px; margin-right:-35px;}
.logo-slider .owl-dots{display:none;}

.aboutactSection{width:100%; float:left; background:#027cb7; padding-top:45px; padding:30px 60px 70px;}
.aboutactSection {width:100%; float:left;}
.aboutactSection h2{color:#fff; font-size:40px; font-family:latosemibold; margin:60px 0 30px 0; width:100%; text-align:center;}
.aboutactSection h3{color:#fff; font-size:24px; font-family:latosemibold; margin:65px 0 20px 0; width:100%;}
.aboutactSection p{color:#fff; font-size:18px; font-family:latolight; line-height:24px; margin-bottom:20px;}
.aboutactSection .aboutPic{width:100%; float:left; padding:0 40px 30px 0;}
.aboutactSection .aboutPic img{width:100%; border:2px solid #027cb7; border-radius:3px; overflow:hidden;}
.aboutactSection .mobilePic{width:100%; max-width:400px; }
.aboutactSection .aboutPointsList{width:100%; float:left; margin:20px 0 0 0;}
.aboutactSection .aboutPointsList li{width:100%; float:left; font-size:20px; color:#fff; margin-bottom:20px;}
.aboutactSection .aboutPointsList li .blueBold{font-family:latobold; color:#fff; font-size:23px; text-decoration:underline;}

.whatifSection{width:100%; float:left; background:#fff;}
.whatifSection .left{width:100%; float:left;}
.whatifSection .left img{width:100%; max-width:587px;}
.whatifSection .right{width:100%; float:left;}
.whatifSection .right h2{color:#027cb7; font-size:36px; font-family:latosemibold; margin:0 0 30px 0; text-align:center;}
.whatifSection .right h2 span{color:#282828; font-size:20px;}
.whatifSection .right p{color:#484747; font-size:18px; font-family:latosemibold; line-height:24px; margin-bottom:20px; text-align:center}
.whatifSection .right p.italic{color:#484747; font-size:24px; font-family:latolight_italic; line-height:24px; margin-bottom:10px; text-align:center}
.whatifSection .right p .smallLogo{width:180px;}
.whatifSection .bottom-line{font-size:30px; color:#027cb7; font-family:latobold; width:100%; float:left; text-align:center; margin:-30px 0 50px 0; padding:0 15px;}
.whatifSection .papercut{max-width:700px; width:100%;}

.pricing{width:100%; float:left; background:#027cb7; padding:100px 20px 60px; font-family:latolight; font-size:18px; color:#e7e6e6; text-align:center;}
.pricing span{width:100%; float:left; line-height:18px;}
.pricing .registerNowBtn{ border-radius:20px; padding:8px 25px; color:#fff; font-family:latolight;  font-weight:bold;  margin-top:20px; border:3px solid #e7e6e6; display:inline-block; letter-spacing:1px; line-height:18px;}


.moneyback{width:100%; float:left; background:#fff; padding:50px 0; margin-top:50px; border-top:2px solid #ccc; border-bottom:2px solid #ccc; box-shadow:0 0 100px #ccc inset;}
.moneyback h2{color:#027cb7; font-size:36px; font-family:latosemibold; margin:0 0 30px 0; text-align:center;}
.moneyback p{color:#484747; font-size:18px; font-family:latosemibold; line-height:24px; margin-bottom:20px; text-align:center}
.moneyback p.italic{color:#484747; font-size:24px; font-family:latolight_italic; line-height:24px; margin-bottom:10px; text-align:center}
.moneyback .moneyback-image{max-width:300px; width:100%;}


.bottomHome {float:left; width:100%; background:#fff; padding:15px 20px; font-size:14px; font-family:latolight; color:#908f8f; text-transform:uppercase; line-height:18px;}
.bottomHome .bottomHomeLinks{float:none;}
.bottomHome .bottomHomeLinks li{float:left; margin:0 30px;}
.bottomHome .bottomHomeLinks li a{float:left; color:#908f8f;}

.contacthome-section{width:100%; float:left; min-height:654px; background:url(../Images/contactBg.jpg) no-repeat top center; background-size:cover;}
.contactbox{width:100%; max-width:455px; position:relative; border-radius:5px; background:#fff; float:left; margin-top:190px; min-height:200px; color:#484747; font-size:18px; font-family:latolight;}
.contactbox::before{position:absolute; top:85px; left:-16px; background:url(../Images/contactHomeArrow.png) no-repeat top left; height:34px; width:16px; content:"";}
.contactbox h2{margin:0; float:left; width:100%; background:#027cb7; height:60px; padding:20px; font-size:16px; line-height:20px; font-family:latosemibold; border-radius:5px 5px 0 0; color:#fff;}
.contactbox .contactDetails{width:100%; float:left; padding:5px 20px;}
.contactbox .contactDetails ul{width:100%; float:left;margin:0px;}
.contactbox .contactDetails li{width:100%; float:left; padding-left:45px; }
.contactbox .contactDetails li.location{background:url(../Images/contactLocationIco.png) no-repeat center left;}
.contactbox .contactDetails li.email{background:url(../Images/contactEmailIco.png) no-repeat center left;}
.contactbox .contactDetails li.tele{background:url(../Images/contactTelIco.png) no-repeat center left;}
.contactbox .contactDetails li span{width:100%; float:left; padding:20px 0; border-bottom:1px solid #c9c9c9; }
.contactbox .contactDetails li span.noBor{border-bottom:0px;}
.textUnderContactBox{width:100%; float:left; margin-top:20px; padding:0 20px 20px; color:#fff; font-size:16px; font-family:latolight;}

.contactFormBox{width:100%; max-width:455px; position:relative; float:left; margin-top:190px; min-height:200px; color:#484747; font-size:18px; font-family:latolight;}
.contactFormBox .contact-input-box{width:100%; float:left; margin-bottom:20px;}
.contactFormBox .contact-input-box input[type="text"], .contactFormBox .contact-input-box input[type="email"]{width:100%; float:left; border-radius:5px; height:40px; padding:10px; border:1px solid #282828; background:#fff; color:#282828;}
.contactFormBox .contact-input-box .submitBtn {padding:10px 35px; text-align:center; color:#fff; font-size:16px; border:0px;  line-height:16px; font-family:latolight; display:inline-block; border-radius:5px; font-weight:bold; letter-spacing:2px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3487db+0,2779cc+51,1a6cbe+100 */
        background: #3487db; /* Old browsers */
        background: -moz-linear-gradient(top, #3487db 0%, #2779cc 51%, #1a6cbe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3487db 0%,#2779cc 51%,#1a6cbe 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3487db 0%,#2779cc 51%,#1a6cbe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3487db', endColorstr='#1a6cbe',GradientType=0 ); /* IE6-9 */
    }


.topMenu{position:fixed;}
.home .navbar-nav > li > a, .home .navbar-nav > li > a:hover, .home .navbar-nav > li > a:focus, .home .navbar-nav > li > a:visited{color:#dedee0; font-size:14px; font-family:latolight;}
.home .navbar-default .navbar-nav > .active > a, .home .navbar-default .navbar-nav > .active > a:focus, .home .navbar-default .navbar-nav > .active > a:hover{background:none; color:#dedee0}

.home .navbar-default .navbar-nav{
    background: rgba(0,0,0,0.4) !important;
    border-radius:4px;
    overflow:hidden;
}

    .home .navbar-default .navbar-nav a:hover, .home .navbar-default .navbar-nav > .active > a:hover {
        background: rgba(256,256,256,0.9) !important;
        color: #000 !important;
    }


    .staticPages {
        width: 100%;
        float: left;
        font-size: 18px;
    }
.staticPages h1{width:100%; float:left; font-size:30px; margin-bottom:15px; margin-top:0px;}
.staticPages h1 span{width:100%; float:left; font-size:16px;}

.staticPages h3{font-size:18px; margin-bottom:10px; margin-top:0;}

.staticPages ol{float:left; margin:0 0 0 25px;}
.staticPages ol li{width:100%; float:left; list-style:decimal; margin-bottom:20px;}
.staticPages ol li ol li,.staticPages ol li ul li{ margin-bottom:15px; font-size:14px;}
.staticPages ul{float:left; margin:0 0 0 25px;}
.staticPages ul li{width:100%; float:left; list-style:disc; margin-bottom:30px;}
.staticPages p{font-size:14px;}

.title{width:100%; color:#747a7d; float:left; text-align:center; font-family:latolight;} 
.result{width:100%; color:#1e8fc8; font-family:latosemibold; float:left; text-align:center;} 

/* ---------------- For sticky header: class="float-panel"  ------------------*/
.float-panel {
    width:100%;z-index:2000;transform: translateZ(0);
    transition:all 0.5s; /* Effect for switching from .fixed to static */
}
.float-panel .content-area {margin:10px auto;}
.float-panel a {font-size:16px;text-decoration:none;color:#444;display:inline-block;padding:10px 20px;}
.float-panel .fa-gg {color:#F0595C;font-size:30px;vertical-align:middle;transition:all 1s;}
/* when class="float-panel fixed" */
.fixed {box-shadow:0 2px 6px rgba(0,0,0,0.2);padding:4px 0;animation:slide-down 0.7s; background:#000;}
.fixed .fa-gg {transform: rotate(360deg); }

.rewardSection{width:100%; float:left; }
.rewardSection .rewardHeader{width:100%; float:left; text-align:center; background:#bbbbbb; height:37px; line-height:37px; color:#fff; text-transform:uppercase;}
.rewardSection .rewardContent{width:100%; float:left; background:#e2e2e2; padding:20px 0;}
.rewardSection .rewardContent .nameCount{float:left; margin-left:9px; height:71px; padding:16px 0 0 0; font-size:16px; font-family:latobold;}
.rewardSection .rewardContent .nameCount span{float:left; width:100%;}
.rewardSection .rewardContent .blue{color:#258dc0;}
.rewardSection .rewardContent .grey{color:#979797;}
.rewardSection .rewardContent .golden{color:#c89e25;}

.modal-container-viewstarsystem .white-popup-box-curve{background:#fff;box-shadow:0 0 15px #ddd; padding:0; width:100%; max-width:600px; margin:0 auto; border-radius:10px; text-align:left;}
.modal-container-viewstarsystem .white-popup-box-curve .popupheader{ border-bottom:2px solid #dadee7; padding:15px 10px; float:left; width:100%; margin:0px;}
.modal-container-viewstarsystem .white-popup-box-curve .popupheader .heading{float:left; font-size:25px; color:#7e7e7e; font-family:latoregular; width:100%; text-align:center; text-transform:uppercase;}
.modal-container-viewstarsystem .white-popup-box-curve .closeButton{background:url(../images/closeBtn.png) no-repeat top left; border:0; height:13px; width:13px; position:absolute; top:30px; right:20px; z-index:99; }
.modal-container-viewstarsystem .white-popup-box-curve .batch-details{padding:20px 35px; float:left;}
.modal-container-viewstarsystem .white-popup-box-curve .batch-details ul{float:left; margin:0; width:100%;}
.modal-container-viewstarsystem .white-popup-box-curve .batch-details li{border:2px solid #dadee7; border-radius:10px; width:100%; float:left; margin-bottom:20px;}
.modal-container-viewstarsystem .white-popup-box-curve .batch-details li .batch{padding:10px; border-right:2px solid #dadee7; width:100%; float:left; text-align:center;}
.modal-container-viewstarsystem .white-popup-box-curve .batch-details li .batch img{width:100%; max-width:139px;}
.modal-container-viewstarsystem .white-popup-box-curve .batch-details li .text{color:#7e7e7e; font-size:16px; padding:30px 15px 30px; width:100%; float:left;}

.graphSection{width:100%; float:left;}
.graphSection .graphTitle{width:100%; float:left; text-align:center; background:#676c73; color:#fff; height:40px; line-height:40px; font-size:18px; border-radius:5px 5px 0 0;}

.UnreadBroadcastDiv {
    background: rgb(255, 0, 0) none repeat scroll 0 0;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -22px;
    width: 20px;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}



/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
/*-------- Generic styles for the page ------------------*/

#DivPasswordDetails .field-box input { height:36px!important;}


.answerStatus{width:100%; float:left; margin:20px 0; position:relative; background:#EFEEF2;}
.answerStatus .statusBox{width:100px; height:100px; background:#ff0000; padding:10px; position:absolute; top:0; left:0; text-align:center;}
.answerStatus .anserBox{width:100%; min-height:100px; background:#EFEEF2; padding:10px 10px 10px 110px; text-align:center;}

#customerReport td { text-align: center !important;}
#customerReport th { white-space:nowrap; text-align: center !important; padding-left: 5px !important; padding-right: 5px !important;}
.width300 { width: 300px !important; }
.light-green div{ background-color: #B2FF99 !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
    .light-green td { background-color: #B2FF99 !important; color: #000 !important; }
.light-yellow div{ background-color: #FFE699 !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
    .light-yellow td { background-color: #FFE699 !important; color: #000 !important; }
.light-orange div{ background-color: #F8AE86 !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
    .light-orange td { background-color: #F8AE86 !important; color: #000 !important; }
.light-pink div{ background-color: #FF99B2 !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
    .light-pink td { background-color: #FF99B2 !important; color: #000 !important; }
.light-blue { background-color: #61a4ca !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
.light-sky-blue { background-color: #99FFE5 !important; color: #000 !important; }
.light-purple { background-color: #99B2FF !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
.light-purple-col { background-color: #99B2FF !important; color: #000 !important; }
.light-baby-pink { background-color: #E599FF !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
.light-baby-pink-col{ background-color: #E599FF !important; color: #000 !important; }
.dark-sky-blue div{ background-color: #48D6DB !important; color: #000 !important; border-radius: 5px; padding: 5px; margin: 2px; }
.royal-blue { color: #0063d1 !important; }

.linkImageBox i {
    font-size: 60px;
    padding-top: 65px;
}

.selected-page {
    color: #fff !important;
    background: #337ab7 !important;
    border: 2px #337ab7 solid !important;
    z-index: 1;
}

span.custom-tooltip:hover {
    cursor: help;
    position: relative
}

span.custom-tooltip span {
    display: none
}

span.custom-tooltip:hover span {
    border: #000000 1px solid;
    border-radius: 6px;
    padding: 5px;
    display: block;
    z-index: 100;
    background: #000000;
    left: 0px;
    margin: 10px;
    width: 450px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    color: #ffffff;
}

/*html { background-color: #e2e2e2; margin: 0; padding: 0; }
body { background-color: #fff; border-top: solid 10px #000; color: #333; font-size: .85em; font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif; margin: 0; padding: 0; }

a { color: #333; outline: none; padding-left: 3px; padding-right: 3px; text-decoration: underline; }
a:link, a:visited,
a:active, a:hover { color: #333; }
a:hover { background-color: #c7d1d6; }*/

/*.dashboardBox { background: #f6f6f6 none repeat scroll 0 0; border: 1px solid #3a3a3a; border-radius: 5px; float: left; font-size: 16px; padding: 40px 10px 10px; min-height: 120px; text-align: center; text-decoration: none; width: 100%; }*/

.custom-table { border: 1px solid #ccc; border-radius: 5px; overflow: auto; }
.custom-table table { width: 100%; float: left; margin-top: 0; }
.custom-table th { padding: 10px; }
.custom-table th { background: #009ada; vertical-align: middle; /*text-align: center;*/ font-weight: normal; font-size: 14px; color: #fff; border: 0px; }
.custom-table td { font-size: 12px; color: #282828; border: 0px; /*text-align: center;*/ padding: 10px; }
.custom-table td:first-child { /*text-align: left;*/ }
.custom-table tbody tr:nth-child(2n) { background: #f3f3f3 none repeat scroll 0 0; }

header, footer, hgroup,
nav, section { display: block; }
mark { background-color: #a6dbed; padding-left: 5px; padding-right: 5px; }
.float-left { float: left; }
.float-right { float: right; }
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }

/* main layout
----------------------------------------------------------*/
.content-wrapper { margin: 0 auto; max-width: 960px; }

.main-content { background: url("../Images/accent.png") no-repeat; padding-left: 10px; padding-top: 30px; }
.featured + .main-content { background: url("../Images/heroAccent.png") no-repeat; }
header .content-wrapper { padding-top: 20px; }
footer { clear: both; background-color: #e2e2e2; font-size: .8em; height: 100px; }
/* site title
----------------------------------------------------------*/
.site-title { color: #c8c8c8; font-family: Rockwell, Consolas, "Courier New", Courier, monospace; font-size: 2.3em; margin: 0; }
.site-title a, .site-title a:hover, .site-title a:active { background: none; color: #c8c8c8; outline: none; text-decoration: none; }
/* login
----------------------------------------------------------*/
/*#login { display: block; font-size: .85em; margin: 0 0 10px; text-align: right; }
#login a { background-color: #d3dce0; margin-left: 10px; margin-right: 3px; padding: 2px 3px; text-decoration: none; }
#login a.username { background: none; margin: 0; padding: 0; text-decoration: underline; }
#login ul { margin: 0; }
#login li { display: inline; list-style: none; }*/
/* menu
----------------------------------------------------------*/
ul#menu { font-size: 1.3em; font-weight: 600; margin: 0 0 5px; padding: 0; text-align: right; }
ul#menu li { display: inline; list-style: none; padding-left: 15px; }
ul#menu li a { background: none; color: #999; text-decoration: none; }
    ul#menu li a:hover { color: #333; text-decoration: none; }
/* page elements
----------------------------------------------------------*/
/* featured */
.featured { background-color: #fff; }
.featured .content-wrapper { background-color: #7ac0da; background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%); background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%); background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6)); background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%); background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%); color: #3e5667; padding: 20px 40px 30px 40px; }
.featured hgroup.title h1, .featured hgroup.title h2 { color: #fff; }
.featured p { font-size: 1.1em; }
/* page titles */
hgroup.title { margin-bottom: 10px; }
hgroup.title h1, hgroup.title h2 { display: inline; }
hgroup.title h2 { font-weight: normal; margin-left: 3px; }
/* features */
section.feature { width: 300px; float: left; padding: 10px; }
/* ordered list */
ol.round { list-style-type: none; padding-left: 0; }
ol.round li { margin: 25px 0; padding-left: 45px; }
ol.round li.zero { background: url("../Images/orderedList0.png") no-repeat; }
ol.round li.one { background: url("../Images/orderedList1.png") no-repeat; }
ol.round li.two { background: url("../Images/orderedList2.png") no-repeat; }
ol.round li.three { background: url("../Images/orderedList3.png") no-repeat; }
ol.round li.four { background: url("../Images/orderedList4.png") no-repeat; }
ol.round li.five { background: url("../Images/orderedList5.png") no-repeat; }
ol.round li.six { background: url("../Images/orderedList6.png") no-repeat; }
ol.round li.seven { background: url("../Images/orderedList7.png") no-repeat; }
ol.round li.eight { background: url("../Images/orderedList8.png") no-repeat; }
ol.round li.nine { background: url("../Images/orderedList9.png") no-repeat; }
/* content */
article { float: left; width: 70%; }
aside { float: right; width: 25%; }
aside ul { list-style: none; padding: 0; }
aside ul li { background: url("../Images/bullet.png") no-repeat 0 50%; padding: 2px 0 2px 20px; }
.label { font-weight: 700; }
/* login page */
#loginForm { border-right: solid 2px #c8c8c8; float: left; width: 55%; }
#loginForm .validation-error { display: block; margin-left: 15px; }
#loginForm .validation-summary-errors ul { margin: 0; padding: 0; }
#loginForm .validation-summary-errors li { display: inline; list-style: none; margin: 0; }
/*#loginForm input { width: 250px; }*/
#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button { width: auto; }
#socialLoginForm { margin-left: 40px; float: left; width: 40%; }
#socialLoginForm h2 { margin-bottom: 5px; }
#socialLoginList button { margin-bottom: 12px; }
#logoutForm { float:left;}
/* contact */
.contact h3 { font-size: 1.2em; }
.contact p { margin: 5px 0 0 10px; }
.contact iframe { border: 1px solid #333; margin: 5px 0 0 10px; }
/* forms */
/*fieldset { border: none; margin: 0; padding: 0; }
fieldset legend { display: none; }
fieldset ol { padding: 0; list-style: none; }
fieldset ol li { padding-bottom: 5px; }
label { display: block !important; font-size: 15px; font-weight: 500 !important; }
label.checkbox { display: inline; }
input, textarea { border: 1px solid #e2e2e2; background: #fff; color: #333; font-size: 1.2em; margin: 5px 0 6px 0; padding: 5px; width: 300px; }
select { border: 1px solid #e2e2e2; background: #fff; color: #333; font-size: 1.2em; margin: 5px 0 6px 0; padding: 5px; width: 100%; }
textarea { font-family: inherit; width: 500px; }
input:focus, textarea:focus { border: 1px solid #7ac0da; }
input[type="checkbox"] { background: transparent; border: inherit; width: auto; }
input[type="submit"],
input[type="button"],
button { background-color: #d3dce0; border: 1px solid #787878; cursor: pointer; font-size: 14px; font-weight: 600; padding: 5px; margin-right: 8px; width: auto; }
td input[type="submit"],
td input[type="button"],
td button { font-size: 1em; padding: 4px; margin-right: 4px; }*/

/* info and errors */
.message-info { border: 1px solid; clear: both; padding: 10px 20px; }

.message-error { clear: both; color: #e80c4d; font-size: 1.1em; font-weight: bold; margin: 20px 0 10px 0; }

.message-success { color: #7ac0da; font-size: 1.3em; font-weight: bold; margin: 20px 0 10px 0; }

.error { color: #e80c4d; }

/* styles for validation helpers */
.field-validation-error { color: #e80c4d; font-weight: bold; }

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #e80c4d; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors { color: #e80c4d; font-weight: bold; font-size: 1.1em; }

.validation-summary-valid { display: none; }


/* tables
----------------------------------------------------------*/
table { border-collapse: collapse; border-spacing: 0; margin-top: 0.75em; border: 0 none; }

th { font-size: 1.2em; text-align: left; border: none 0px; padding-left: 0; }

th a { display: block; position: relative; }

th a:link, th a:visited, th a:active, th a:hover { color: #333; font-weight: 600; text-decoration: none; padding: 0; }

th a:hover { color: #000; }

th.asc a, th.desc a { margin-right: .75em; }

th.asc a:after, th.desc a:after { display: block; position: absolute; right: 0em; top: 0; font-size: 0.75em; }

th.asc a:after { content: '▲'; }

th.desc a:after { content: '▼'; }

td { padding: 0.25em 2em 0.25em 0em; border: 0 none; }

tr.pager td { padding: 0 0.25em 0 0; }

.pagination { margin: 0 !important; }

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

/* header
----------------------------------------------------------*/
header .float-left,
header .float-right { float: none; }

/* logo */
header .site-title { margin: 10px; text-align: center; }

/* login */
#login { font-size: .85em; margin: 0 0 12px; text-align: center; }

#login ul { margin: 5px 0; padding: 0; }

#login li { display: inline; list-style: none; margin: 0; padding: 0; }

#login a { background: none; color: #999; font-weight: 600; margin: 2px; padding: 0; }

#login a:hover { color: #333; }

/* menu */
nav { margin-bottom: 5px; }

ul#menu { margin: 0; padding: 0; text-align: center; }

ul#menu li { margin: 0; padding: 0; }


/* main layout
----------------------------------------------------------*/
.main-content,
.featured + .main-content { background-position: 10px 0; }

.content-wrapper { padding-right: 10px; padding-left: 10px; }

.featured .content-wrapper { padding: 10px; }

/* page content */
article, aside { float: none; width: 100%; }

/* ordered list */
ol.round { list-style-type: none; padding-left: 0; }

ol.round li { padding-left: 10px; margin: 25px 0; }

ol.round li.zero,
ol.round li.one,
ol.round li.two,
ol.round li.three,
ol.round li.four,
ol.round li.five,
ol.round li.six,
ol.round li.seven,
ol.round li.eight,
ol.round li.nine { background: none; }

/* features */
section.feature { float: none; padding: 10px; width: auto; }

section.feature img { color: #999; content: attr(alt); font-size: 1.5em; font-weight: 600; }

/* forms */
input { width: 90%; }

/* login page */
#loginForm { border-right: none; float: none; width: auto; }

#loginForm .validation-error { display: block; margin-left: 15px; }

#socialLoginForm { margin-left: 0; float: none; width: auto; }


/* footer
----------------------------------------------------------*/
footer .float-left,
footer .float-right { float: none; }

footer { text-align: center; height: auto; padding: 10px 0; }

footer p { margin: 0; }
}


.progressBar { max-width: 136px; height: 10px; background: #a4c3e7; position: relative; top: -10px; z-index: 2; }
.registerBtn { position: relative; top: 125px; left: -150px; }

.progressSubmitDiv{width:100%; height:100%; position:fixed; top:0; left:0; z-index:9999; background:rgba(0, 0, 0, 0.8); color:#fff; padding-top:20%; font-size:13px;}


.confirmation-box{background:#fff; padding:20px; width:100%; text-align:center;}
.confirmation-box h4{font-size:18px; font-family:quattrocentobold; margin-bottom:10px;}
.confirmation-box p{margin-bottom:15px;}


#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:320px; width:600px; color:#bbb; background-color:#fff; border:4px solid #444; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}
.btn-lebel {color: #333;background-color: #fff;border-color: #ccc !important;cursor:auto;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dollar {
    height: 36px;
    position: absolute;
    background: #e2e1e1;
    width: 36px;
    top: 2px;
    left: 2px;
    text-align: center;
    line-height: 36px;
    color: #6b6868;
    font-size: 22px;
}


.redInfo {
    color: #ff0000 !important;
font-size: 12px;

}

.bs-example table { border-collapse: collapse; border-spacing: 0; margin-top: 0.75em; border:1px solid #Ccc }
.bs-example td { padding: 0.25em 2em 0.25em 0em; border:1px solid #ccc }
.imageModel {cursor: pointer; }
#customerReport td {
    padding: 5px 5px !important;
}

.bg-white{
    background-color:white;
}
    .bg-white .select {
        background-color: white;
    }
.search .form-control {
    border: 1px solid #ddd !important;
    height: 36px !important;
}

.imgThumb, .combinedImageModel, .imageModel {
    width: 50px !important;
    height: 50px !important;
    background: url(/Images/ajax-loader.gif) no-repeat;
}
}

.midContainer {
width: 100%;
float: left;
padding: 0px 0;
}

.sigPad {
margin: 0;
padding: 0;
width: 381px;
}

.sigWrapper {
clear: both;
height: 190px;
border: 1px solid #ccc;
}

.signedImage {
border: none;
background-color: transparent !important;
opacity: 1;
}

.signHereBox {
width: 350px;
/ max-width: 200px; /
border: 1.5px solid #258dbf;
background-color: lightgray;
/ bottom: 50px; /
/*bottom: 850px;*/
/ position: absolute; /
position: relative;
margin: 0 auto;
/*left: 22px;*/
/*right: 0;*/
/*z-index: 99;*/
/*opacity: 0.9;*/
padding: 20px;
}

.signHereBox-mobile {
width: 235px;
/*bottom: 320px;*/
/*padding: 5px;
margin-left: 10px;*/
}

.imgSignWidth {
max-height: 100px;
}

.imgSignWidth-mobile {
max-height: 52px;
padding-bottom: 10px;
}

.signAgreeBox {
/*width: 540px;*/
border: 1.5px solid #258dbf;
background-color: lightgray;
/*bottom: 700px;*/
/*position: absolute;*/
position: relative;
/*margin: 0 auto;*/
left: 0;
right: 0;
min-height: 50px;
/*z-index: 99;*/
opacity: 0.9;
}

.signAgreeBox-mobile {
/*bottom: 275px;*/
}

.modal-content {
background-color: #fff !important;
min-width: 500px;
}

.modal-middle {
bottom: unset;
}

button[disabled] {
cursor: not-allowed;
color: gray;
border: 2px solid gray;
}

.btnClear {
position: absolute;
right: 0;
text-decoration: underline;
font-size: 0.75em;
bottom: 0;
}

.btnClear a {
text-decoration: underline;
}

canvas {
border: 1px solid gray;
}

.sigWrapper {
border: none !important;
}

.the-canvas {
border: 1px solid black;
direction: ltr;
}

.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite; / Safari /
animation: spin 2s linear infinite;
}

.overlay {
left: 0;
top: 0;
width: 100%;
height: 100%;
position: fixed;
background: #222222a6;
}

.overlay__inner {
left: 0;
top: 0;
width: 100%;
height: 100%;
position: absolute;
}

.overlay__content {
left: 50%;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
}

.spinner {
width: 75px;
height: 75px;
display: inline-block;
border-width: 2px;
border-color: rgba(255, 255, 255, 0.05);
border-top-color: #fff;
animation: spin 1s infinite linear;
border-radius: 100%;
border-style: solid;
}